.calendar-container {
  padding-bottom: 60px;
}

.calendar-buttons {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.calendar-date-field {
  display: flex;
  font-weight: bold;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  margin: auto;


}
.calendar-date-nav-buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.calendar-view-nav-buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-left: auto;
}

.agent-list-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.agent-list-label {
  font-size: 20px;
  margin-right: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rest-line {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
}

.rest-digit {
  margin-left: 12px;
  font-size: large;
  font-weight: bold;
  display: flex;
}

.event-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: large;
}
